@{
	ViewData["Title"] = "Crear Empleado";
}
@model Empleado

<div class="card shadow border-0 mb-4 mt-2">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="col-12 text-center">
			<h2 class="text-white py-2">Agregar Empleado</h2>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="card-body p-4">
		<form class="row" method="post">
			<div class="border p-3">
				@* <div asp-validation-summary="ModelOnly"></div> *@
				<div class="form-floating py-2 col-12">
					<input asp-for="Nombre" class="form-control border-0 shadow">
					<label asp-for="Nombre" class="ms-2"></label>
					<span asp-validation-for="Nombre" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Cedula" class="form-control border-0 shadow">
					<label asp-for="Cedula" class="ms-2"></label>
					<span asp-validation-for="Cedula" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<select asp-for="DepartamentoId" class="form-select border-0 shadow" id="departamentoId" asp-items="@ViewBag.departamentos">
						<option disabled selected>--Selecciona el Departamento--</option>
					</select>
					<label asp-for="DepartamentoId" class="ms-2"></label>
					<span asp-validation-for="DepartamentoId" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<select asp-for="PuestoId" class="form-select border-0 shadow" id="puestoId" asp-items="@ViewBag.puestos">
						<option disabled selected>--Selecciona el Puesto--</option>
					</select>
					<label asp-for="PuestoId" class="ms-2"></label>
					<span asp-validation-for="PuestoId" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="SalarioMensual" class="form-control border-0 shadow">
					<label asp-for="SalarioMensual" class="ms-2"></label>
					<span asp-validation-for="SalarioMensual" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<select asp-for="NominaId" class="form-select border-0 shadow" id="nominaId" asp-items="@ViewBag.departamentos">
						<option disabled selected>--Selecciona la Nómina--</option>
					</select>
					<label asp-for="NominaId" class="ms-2"></label>
					<span asp-validation-for="NominaId" class="text-danger"></span>
				</div>

				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Crear</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Empleado" asp-action="Index" class="btn btn-outline-primary border form-control">Volver a la Lista</a>
					</div>
				</div>
			</div>

		</form>

	</div>
</div>



@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}